@page "/aboutMe"

<section class="innerbanner" role="banner">
    <header id="header">
        <div class="header-content clearfix">
            <a class="logo" href="/"><img src="images/logo.png" alt="Mafolio"></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="/aboutMe">About Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>

    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="innerbanner-text text-center">
                <p>About me</p>
            </div>
        </div>
    </div>
</section>
<section id="inner-description" class="section inner-description">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <img src="images/flick.png" alt="Mafolio">
            <h1>Zin Linnhtet</h1>
            <p>Competent C# Developer</p>
        </div>
        <div class="col-md-10 col-md-offset-1 space">
            <p>Born on October 11, 2001, I am a dedicated individual who embarked on a unique journey in the world of technology. My academic journey began with outstanding success, earning five distinctions in my matriculation results. Eager to expand my knowledge, I enrolled at the University of Technology in Yadanapon CyberCity, situated in Pyin-Oo-Lwin. </p>
            <p>
                Unfortunately, the challenges posed by the COVID-19 pandemic led to an unexpected twist in my path. In 2020, I made the difficult decision to temporarily withdraw from university. Undeterred by the setback, I redirected my focus toward a career in information technology.
                In November 2023, I took a bold step into the realm of IT, forgoing traditional classroom settings. Embracing a self-directed learning approach, I became a part of the Let's Code bootcamp, affiliated with Microverse. This hands-on experience allowed me to immerse myself in the practical aspects of coding and software development.
            </p>
            <p>
                Embarking on my journey into the realm of programming, I found a guiding light in a knowledgeable senior who generously shared their expertise. With their mentorship, I delved into the intricacies of C# and, over time, this versatile language evolved into my primary coding language.
                This learning experience has not only equipped me with a strong foundation in C# but has also instilled in me a deep appreciation for collaborative learning and mentorship. My commitment to mastering C# reflects my passion for building robust and efficient solutions, and I am excited to continue expanding my skills and contributing to the ever-growing field of software development.
            </p>
        </div>
    </div>
</section>
<section id="hireme" class="section hireme">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Need something specific?</h3>
            <p>I am currently crafting new products but would love to hear from you.</p>
            <a href="https://github.com/kamalcha/ActiveBox/archive/master.zip" class="btn btn-large">Hire me</a>
        </div>
    </div>
</section>
<footer class="section footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
                <p>
                    <ul class="footer-share">
                        <li><a href="https://www.facebook.com/fli21k"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/zin-linnhtet-5537702a3/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:zinlinnhtet.dev@gmail.com"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </p>
                <p>
                    © 2024 All rights reserved. All Rights Reserved<br>
                    Made with <i class="fa fa-heart pulse"></i> by ZinLinnhtet.
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/main.js"></script>