@page "/"

<PageTitle>Home</PageTitle>

<body>
    <!-- header section -->
    <section class="banner" role="banner">
        <header id="header">
            <!-- navigation section  -->
            <div class="header-content clearfix">
                <a class="logo" href="javascript:void(0);"><img src="images/logo.png" alt="Mafolio"></a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li><a href="/aboutMe">About Me</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
            <!-- navigation section  -->
        </header>

        <!-- banner text -->
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-text text-center">
                    <h1>Hey, I’m Zin</h1>
                    <p>As a junior C# developer, I am on a mission to bring innovation and efficiency to <br /> the world 
                        of software development. 
                        With a commitment to continuous learning and a creative approach to development challenges,
                        I am excited to contribute to the ever-evolving field of software engineering.
                       <br /> Explore my work and join me on this coding adventure!</p>
                    <!-- banner text -->
                </div>
            </div>
        </div>
    </section>
    <!-- header section -->
    <!-- description text section -->
    <section id="descripton" class="section descripton">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 text-center">
                <p>
                    Enthusiastic and detail-oriented Junior Developer with 
                    a solid foundation in software development, programming, 
                    and problem-solving. Proficient in C# and the ASP.NET Core framework, 
                    with a keen interest in creating efficient and scalable solutions.
                    Possesses strong analytical and communication skills, allowing for effective collaboration with cross-functional teams.
                    Demonstrated ability to quickly adapt to new technologies and methodologies, ensuring a continuous learning mindset.
                    Eager to contribute to innovative projects and grow as a dynamic member of a development team.
                </p>
            </div>
        </div>
    </section>
    <!-- description text section -->
    <!-- portfolio section -->
    <section id="works" class="works section no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://github.com/zinlynhtet/ArtGallery-Project" class="work-box">
                        <img src="images/work-1.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Art Gallery</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://github.com/zinlynhtet/DotNet8WebApi.RestfulApi" class="work-box">
                        <img src="images/work-2.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>DotNet8WebApi.RestfulApi</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://github.com/zinlynhtet/ShoppingCart.MVCWebApp" class="work-box">
                        <img src="images/work-3.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>ShoppingCard MVCWebApp</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://hopitl-prive-autel-d-elie.vercel.app/" class="work-box">
                        <img src="images/work-4.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>AUTE D'ELIA HOPITAL PRIVE</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://github.com/zinlynhtet/MackDotNetCore/tree/master/MackDotNetCore.AtmApp" class="work-box">
                        <img src="images/work-5.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Mini ATM WebApp</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://github.com/zinlynhtet/Microverse-Capstone-project" class="work-box">
                        <img src="images/work-6.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>Microverse-Capstone-project</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://github.com/zinlynhtet/MackDotNetCore/tree/master/MackDotNetCore.MinimalApi" class="work-box">
                        <img src="images/work-7.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>MackDotNetCore.MinimalApi</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="https://github.com/zinlynhtet/MackDotNetCore/tree/master/MackDotNetCore.MvcApp" class="work-box">
                        <img src="images/work-8.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>Project Name</h5>
                                <p>MackDotNetCore.MvcApp</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio section -->
    <!-- hire me section -->
    <section id="hireme" class="section hireme">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>Need something specific?</h3>
                <p>I am currently crafting new products but would love to hear from you.</p>
                <a href="/contact" class="btn btn-large">Hire me</a>
            </div>
        </div>
    </section>
    <!-- hire me section -->
    <!-- footer -->
    <footer class="section footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="col-md-12">
                    <p>
                        <ul class="footer-share">
                            <li><a href="https://www.facebook.com/fli21k"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/zin-linnhtet-5537702a3/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="mailto:zinlinnhtet.dev@gmail.com"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </p>
                    <p>
                        © 2024 All rights reserved. All Rights Reserved<br>
                        Made with <i class="fa fa-heart pulse"></i> by ZinLinnhtet.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    <!-- JS FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/main.js"></script>
</body>


